*{
    margin: 0;
    padding: 0;
}
body{
    background-color: red;
    overflow: hidden;
}
.gamecontainer{
    background-image: url(./eduardo-buscariolli-9rGmxYrN-Jw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}
.Dino{
    background-image: url(./—Pngtree—dinosaur\ tyrannosaurus\ illustration_9050027.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 114px;
    position: absolute;
    bottom: 0;
    left: 78px;
}

.obstacle{
    width: 150px;
    height: 123px;
    background-image: url(./—Pngtree—a\ pile\ of\ stones_4495330.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 650px;
}
.animateDino{
    animation: Dino 0.6s linear;
}
.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}
.gameover{
    visibility: hidden;
}
@keyframes Dino{
    0%{
bottom: 0;;
    }
    50%{
bottom: 422px;
    }
    100%{
bottom: 0;
    }
}
@keyframes obstacleAni{
    0%{
left: 100vw;
    }

    100%{
left: -10vw;
    }
}